# Advent of Code 2024

The Chief Historian is always present for the big Christmas sleigh launch, but nobody has seen him in months! Last anyone heard, he was visiting locations that are historically significant to the North Pole; a group of Senior Historians has asked you to accompany them as they check the places they think he was most likely to visit.

As each location is checked, they will mark it on their list with a star. They figure the Chief Historian must be in one of the first fifty places they'll look, so in order to save Christmas, you need to help them get fifty stars on their list before Santa takes off on December 25th.

Collect stars by solving puzzles. Two puzzles will be made available on each day in the Advent calendar; the second puzzle is unlocked when you complete the first. Each puzzle grants one star. Good luck!

--- Day 1: Historian Hysteria ---

You haven't even left yet and the group of Elvish Senior Historians has already hit a problem: their list of locations to check is currently empty. Eventually, someone decides that the best place to check first would be the Chief Historian's office.

Upon pouring into the office, everyone confirms that the Chief Historian is indeed nowhere to be found. Instead, the Elves discover an assortment of notes and lists of historically significant locations! This seems to be the planning the Chief Historian was doing before he left. Perhaps these notes can be used to determine which locations to search?

Throughout the Chief's office, the historically significant locations are listed not by name but by a unique number called the location ID. To make sure they don't miss anything, The Historians split into two groups, each searching the office and trying to create their own complete list of location IDs.

There's just one problem: by holding the two lists up side by side (your puzzle input), it quickly becomes clear that the lists aren't very similar. Maybe you can help The Historians reconcile their lists?

In [4]:
import numpy as np
import pandas as pd

In [6]:
locIDs = pd.read_csv("day1_input", sep="   ", names=["list1", "list2"])

locIDs_sorted = pd.DataFrame.from_dict({'list1':np.sort(locIDs["list1"]),
                                        'list2':np.sort(locIDs["list2"])})
locIDs_sorted['diff'] = abs(locIDs_sorted['list1']-locIDs_sorted['list2'])
answer = locIDs_sorted['diff'].sum()

print(locIDs_sorted)
print(f"Answer: {answer}")

     list1  list2  diff
0    10031  10088    57
1    10238  10650   412
2    10242  10753   511
3    10277  10762   485
4    10344  10907   563
..     ...    ...   ...
995  99371  99603   232
996  99510  99603    93
997  99562  99603    41
998  99603  99603     0
999  99854  99815    39

[1000 rows x 3 columns]
Answer: 1341714

/var/folders/l0/cg5y3h0x5n3c9mjg0pm813d40000gp/T/ipykernel_67042/1122192992.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  locIDs = pd.read_csv("day1_input", sep="   ", names=["list1", "list2"])

--- Part Two ---

Your analysis only confirmed what everyone feared: the two lists of location IDs are indeed very different.

Or are they?

The Historians can't agree on which group made the mistakes or how to read most of the Chief's handwriting, but in the commotion you notice an interesting detail: a lot of location IDs appear in both lists! Maybe the other numbers aren't location IDs at all but rather misinterpreted handwriting.

This time, you'll need to figure out exactly how often each number from the left list appears in the right list. Calculate a total similarity score by adding up each number in the left list after multiplying it by the number of times that number appears in the right list.

In [28]:

occurance = []
for index, row in locIDs_sorted.iterrows():
    freq = locIDs_sorted['list2'].value_counts().get(row['list1'])
    occurance.append(freq)
    # print(row['list1'], occurance[index])

# add dict to df
locIDs_sorted['occurance'] = {"occurance": occurance}

locIDs_sorted

     list1  list2  diff occurance
0    10031  10088    57       NaN
1    10238  10650   412       NaN
2    10242  10753   511       NaN
3    10277  10762   485       NaN
4    10344  10907   563       NaN
..     ...    ...   ...       ...
995  99371  99603   232       NaN
996  99510  99603    93       NaN
997  99562  99603    41       NaN
998  99603  99603     0       NaN
999  99854  99815    39       NaN

[1000 rows x 4 columns]